@import
	url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap')
	;

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: 'Poppins', sans-serif;
}

.table {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
	text-align: center;
	border-collapse: collapse;
	border: solid black 2px;
}

.table-title {
	width: 90%;
	font-size: 30px;
	font-weight: 500;
	text-align: center;
	display: block;
	margin: auto;
	margin-top: 10px;
}

.table-header {
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
	background-color: #f39c12;
	padding: 10px 15px;
}

.table-row {
	font-size: 13px;
	background-color: #fff;
}

.table-row:nth-child(even) {
	background-color: #eee;
}

.name-link {
	transition: 0.3s linear;
}

.name-link:hover {
	transform: scale(1.1);
}